def Settings( **kwargs ):
    if kwargs[ 'language' ] == 'rust':
        settings = { 'ls': { 'checkOnSave' : { 'enable': True, 'overrideCommand':['cargo', 'check', '--message-format=json']} } }
        return settings
